.box{
    border: 1px solid blue;
}
#cont{
    border:  1px solid black;
    background-color: rgb(224, 139, 213);
    

    
}
#admin-form{
    border:  1px solid black;
    margin: auto ;
    margin-top: 6rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}
#admin-form>input{
    font-size: 1.5rem;
}
.image{
    width: 300px;
    height: 300px;
}